<div class="container">
  <h1>Contact</h1>

  <ul class="social-media">
      <li><a href="https://mohamedaachabi@gmail.com" target="_blank" class='bx bxl-gmail'></a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100034343417492" target="_blank" class='bx bxl-facebook-circle'></a></li>
      <li><a href="https://www.instagram.com/mohmed_aach/" target="_blank" class='bx bxl-instagram'></a></li>
      <li><a href="https://www.linkedin.com/in/mohammed-aachabi-85a4b6254/" target="_blank" class='bx bxl-linkedin'></a></li>
      <li><a href="https://github.com/mohammed-stalin" target="_blank" class='bx bxl-github'></a></li>
  </ul>

  <ul class="contact-info">
      <li>Mobile: 0623568189</li>
      <li>mohmedaachabi@gmail.com</li>
  </ul>
</div>
